@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(9, 48, 56);
  --color-cond1: rgb(30, 201, 7);
  --color-cond2: rgb(187, 39, 39);
  --text-color: #fff;
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

.table{
  width: 100%;
  text-align: justify;
}

form input, form label, form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

form button {
  border: none;
  background: var(--primary-color);
  color: var(--text-color);
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

form button:hover {
  background: var(--primary-color-darker);
}

.resultado{
  text-align: center;
  align-items: flex-start;
}

.paragrafo_valid, .paragrafo_invalid{
  background-color: var(--color-cond1);
  color: var(--text-color);
  height: 50px;
}

.paragrafo_invalid{
  background-color: var(--color-cond2);
}

/* .date div{
  margin: 0 0 10px 0;
  display: flex;
  text-align: justify;
  justify-content: space-between;
}

.date p{
  margin: 0;
  font-size: 16px;
} */

.date{
  margin: 0 0 10px 0;
  display: flex;
  text-align: justify;
  justify-content: space-between;
  font-size: 16px;
}